<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <menuitem id="menu_acumar_master" name="Acumar"
            web_icon="acumar_base,static/description/icon.png"
            sequence="5" />

            <menuitem id="menu_maestros" name="Maestros"
                parent="menu_acumar_master"
                sequence="10"/>

                <menuitem id="menu_acuerdos" name="Acuerdos"
                    parent="menu_maestros"
                    sequence="10"
                    action="acuerdos_action"/>

                <menuitem id="menu_contrapartes" name="Contrapartes"
                    parent="menu_maestros"
                    sequence="10"
                    action="contrapartes_action"/>

            <menuitem id="menu_configuracion" name="Configuración"
                parent="menu_acumar_master"
                sequence="20"/>

                <menuitem id="menu_tematicas" name="Tematicas"
                    parent="menu_configuracion"
                    sequence="10"
                    action="tematicas_action"/>

                <menuitem id="menu_cargar_excel" name="Carga de Excel"
                    parent="menu_configuracion"
                    sequence="90"
                    action="cargar_excel_action"/>

    </data>
</odoo>
