.o_numa_gantt_view {
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
}

.o_numa_gantt_tree {
    user-select: none;
    background-color: #f8f9fa;
}

.o_numa_gantt_tree tr {
    height: 40px;
}

.o_numa_gantt_timeline_container {
    cursor: crosshair;
}

.o_numa_gantt_canvas {
    display: block;
    image-rendering: pixelated;
}

.o_numa_gantt_timeline_top::-webkit-scrollbar,
.o_numa_gantt_timeline_bottom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.o_numa_gantt_timeline_top::-webkit-scrollbar-thumb,
.o_numa_gantt_timeline_bottom::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.o_numa_backlog_item:hover {
    background-color: #f1f1f1 !important;
}

.o_numa_gantt_backlog {
    transition: height 0.3s ease;
    z-index: 10;
}
